/* Descendant Selector (  ) */
/* .campaign p{
    color: #ce4242;
    font-size: 14px;
} */

/* Child Selector ( > ) */
.campaign > p{
    color: #ce4242;
    font-size: 14px;
}

/* Adjacent Sibling Selector ( + ) */
h2 + p {
font-weight: bold;
}


p + button{
    color: blue;
}

