/* article {
    color: slateblue;
}
*/

/* Global Selector */
* {
   padding: 0;
   margin: 0;
}
/* Element/Tag Selector */
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
section {
    color: rgb(193, 95, 20);
    width: 100%;
    height: 10vh;
    background-color: rgb(191, 217, 138) !important;
} 
/* 
section{
    background-color: red !important;
} */

/* ID selector */
#campaign-header{
    background-color: #0073e6;
    color: rgb(199, 42, 42);
}

/* #one{
    background-color: #ff93e6;
    border: 1px solid #1a0809;
    padding: 20px;
}

#two{
    background-color: #ff93e6;
    border: 1px solid #1a0809;
    padding: 20px;
} */

/* Class Selector */
.campaign-box {
    background-color: #4a163e;
    border: 1px solid #1a0809;
    padding: 20px;
}

/* Attribute Selector */
input[type="submit"]{
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
}