/* article {
    color: slateblue;
}
*/

/* Global Selector */
* {
   padding: 0;
   margin: 0;
}
/* Element/Tag Selector */
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
section {
    color: rgb(193, 95, 20);
    width: 100%;
    height: 10vh;
    background-color: rgb(191, 217, 138) !important;
} 
/* 
section{
    background-color: red !important;
} */

/* ID selector */
#campaign-header{
    background-color: #0073e6;
    color: white;
}